<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/site.css">
        
        <link rel="icon" href="/logo.png">
        <title>{% block title %}{% endblock title %} | The Bulldog Bulletin</title>

        <meta property="og:site_name" content="The Bulldog Bulletin">
        {% block head %}
        <meta name="description" content="The student-run newspaper of Burr & Burton Academy in Manchester, Vermont.">
        {% endblock head %}

        <script async src="https://analytics.farthergate.com/script.js" data-website-id="7e803eba-9ebb-4a2b-b4cf-c33282acdea4"></script>    </head>
    <body>
        <header id="small-header">
            {% block fixed_header %}{% endblock fixed_header %}
        </header>
        <header id="site-header">
            {% block main_header %}{% endblock main_header %}
        </header>
        <main>
            {% block content %}{% endblock content %}
        </main>
    </body>
</html>