{% extends "base.j2" %}
{% import "utils/list_view.j2" as lv %}

{% block title %}{{ tag }}{% endblock title %}

{% block main_header %}
    {{ lv.main_header(tag) }}
{% endblock main_header %}

{% block fixed_header %}
    {{ lv.category_list(tag) }}
{% endblock fixed_header %}

{% block content %}
    {{ lv.content(filtered_articles, True, tag) }}
{% endblock content %}