{% extends "base.j2" %}
{% import "utils/list_view.j2" as lv %}

{% block title %}Home{% endblock title %}

{% block main_header %}
    {{ lv.main_header(["Sports", "Drama", "Academics", "World"]) }}
{% endblock main_header %}

{% block content %}
    {{ lv.content(articles) }}
{% endblock content %}