{% extends "base.j2" %}
{% import "utils/list_view.j2" as lv %}

{% block title %}Home{% endblock title %}

{% block main_header %}
    {{ lv.main_header() }}
{% endblock main_header %}

{% block fixed_header %}
    {{ lv.category_list() }}
{% endblock fixed_header %}

{% block content %}
    {% if issues|length > 0 %}
        {% set latest_issue = issues | first %}
        <a id="latest-issue" href="/issues/{{ latest_issue.id }}">
            Latest issue: <time datetime="{{ latest_issue.published_at }}">{{ fmt_date(latest_issue.published_at, True) }}</time>
        </a>
    {% endif %}

    {{ lv.content(articles, True) }}
{% endblock content %}