{% extends "base.j2" %}
{% import "utils/list_view.j2" as lv %}

{% block title %}Home{% endblock title %}

{% block main_header %}
    {{ lv.main_header() }}
{% endblock main_header %}

{% block fixed_header %}
    {{ lv.category_list() }}
{% endblock fixed_header %}

{% block content %}
    {{ lv.content(articles, True) }}
{% endblock content %}