{% macro category_list(current_cat) %}
    {% set categories = ['Sports', 'Drama', 'Academics', 'U.S.', 'World'] %}

    <nav class="sitenav">
        {% for cat in categories %}
            <a href="/c/{{slugify(cat)}}"
            {% if cat == current_cat %}
               class="active"
            {% else %}{% endif %}
            >{{ cat }}</a>
        {% endfor %}
    </nav>
{% endmacro %}

{% macro main_header(current_cat) -%}
    <a class="logotype" href="/">The Bulldog Bulletin</a>
    {{ category_list(current_cat) }}
{%- endmacro -%}

{%- macro content(articles, show_issue, current_cat) -%}
    {% for article in articles %}
        <div class="article-preview">
            <a class="article-title" href="/articles/{{ article.id }}">{{ article.title }}</a>
            <p class="stats">
                <a>{{ article.author }}</a>
                •
                <time datetime="{{ article.published_at }}"></time>
                {% if show_issue and article['issue'] is not none %}
                •
                <a href="/issues/{{article['issue']['id']}}">Issue #{{article['issue']['id']}}</a>
                {% endif %}
                {% for cat in article.categories %}
                    •
                    <a href="/c/{{slugify(cat)}}"
                    {% if cat == current_cat %}
                    class="active"
                    {% else %}{% endif %}
                    >{{ cat }}</a>
                {% endfor %}
            </p>
            <p>{{ article.summary }}</p>
        </div>
    {% endfor %}
{%- endmacro -%}