header#site-header {
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: $space-lg;

    background-color: white;

    display: flex;
    flex-direction: column;
    gap: $space-sm;
    justify-content: center;
    align-items: center;
    position: relative;

    z-index: 999999;
}

header#small-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;

    background-color: white;

    padding: 5px;

    box-shadow: 0px 0px 10px -2px gray;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: $space-sm;
    z-index: 1;

    p {
        padding: 0;
        margin: 0;

        &#article-header-title {
            font-family: $font-display;
        }
    }
}

header.category-header {
    :last-child {
        border-bottom: 1px solid black;
        padding-bottom: 15px;
    }

    padding: 20px 30px;
    margin-bottom: 20px;

    background-color: $header-bg;
}

a.logotype {
    font-family: $font-display;
    font-size: larger;
    padding: 0;
    margin: 0;

    color: inherit;
    text-decoration: none;
}

nav.sitenav {
    display: flex;
    flex-direction: row;
    gap: $space-sm;

    a {
        display: block;
    }
}

a {
    &:not(.active) {
        text-decoration: none;
    }

    color: inherit;
}